.contact_map 
    margin-top: 55px
.contact-us_info 
    display: flex
    justify-content: space-around
    flex-flow: row wrap
    background-color: $color-element-bg
    .contact-us_item 
        width: 40%
        padding-top: 52px
        padding-bottom: 40px
        text-align: center
        font-family: $font
        color: $color-element-text
        h6 
            font-family: $font
            color: $color-element-text
            font-size: 13px
            font-weight: 600
            line-height: 60px
            text-transform: uppercase
            letter-spacing: 0.65px
        p 
            font-family: $font
            color: $color-element-text
            font-size: 19px
            font-weight: 300
            line-height: 34px
            letter-spacing: 0.57px
        a 
            font-family: $font
            color: $color-element-text
