.footer 
    background-color: $color-footer-bg
    .wrapper 
        display: flex
        justify-content: space-between
        padding: 41px 0 35px
        p 
            font-family: $font
            color: $color-element-text
            font-size: 16px
            font-weight: 300
            line-height: 34px
