.header 
    background: url('../img/header/header-bg.png') no-repeat
    background-size: cover
    padding: 0px 48px 315px
    .header_top
        height: 76px
        display: flex
        justify-content: space-between
        align-items: center
        .header_logo 
            img:hover 
                cursor: pointer
        .header_navigation
            .navigation
                display: flex
                justify-content: space-between
                align-items: center
                li 
                    a 
                        text-decoration: none
                        font-family: $font
                        color: $color-header-text
                        text-transform: uppercase
                        font-size: 16px
                        font-weight: 400
                        line-height: 76px
                        letter-spacing: 0.8px
                        display: block
                        padding: 0px 30px
                    a:hover 
                        background-color: #8e8e8e12
                        color: #4c4c4ca8
                        transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99)

    p 
        color: $color-header-text
        font-family: $font
        text-align: center
        font-size: 80px
        font-weight: 300
        line-height: 60px
        margin-top: 245px
        span 
            font-family: $font
            font-weight: 300
            font-style: italic
            letter-spacing: 4px