.what-we-do_box 
    display: flex
    flex-flow: row wrap
    margin-top: 81px
    .what-we-do_item 
        width: 25%
        padding: 1.5px
        @media all and ( max-width: 1200px )
            width: 50%
        @media all and ( max-width: 880px )
            width: 100%
        img
            width: 100%
            height: 100%
    .what-we-do_item:hover 
        cursor: pointer
        img
            transform: scale(1.05, 1.05)
            transition: all 1s cubic-bezier(0.04, 0.74, 0.32, 1.04)