h2 {
  color: #d4af37;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  text-align: center;
}

h3 {
  opacity: 0.7;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.2px;
  text-align: center;
  margin-top: 21px;
}
@media all and (max-width: 400px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  opacity: 0.7;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1.05px;
}

button {
  padding: 18px 48px;
  background-color: transparent;
  border: 1px solid #000000;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3803921569);
  border-color: #ececec;
  transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99);
}
button:hover a {
  color: #ffffff;
  text-decoration: none;
}

.current_link {
  border-bottom: 3px solid rgba(84, 115, 134, 0.7333333333);
  color: #283843;
}

section {
  padding: 81px 0;
}
section .wrapper {
  max-width: 770px;
  margin: 0 auto;
}
@media all and (max-width: 992px) {
  section .wrapper {
    max-width: 700px;
  }
}
@media all and (max-width: 700px) {
  section .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

footer .wrapper {
  max-width: 770px;
  margin: 0 auto;
}
@media all and (max-width: 992px) {
  footer .wrapper {
    max-width: 700px;
  }
}
@media all and (max-width: 700px) {
  footer .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

.header {
  background: url("../img/header/header-bg-big.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px 48px 315px;
}
.header .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header .header_top a img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99);
}
.header .header_top .header_navigation {
  flex-basis: 40%;
  flex-grow: 0;
}
.header .header_top .header_navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_top .header_navigation .navigation .nav-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 76px;
  letter-spacing: 0.8px;
  display: block;
  padding: 0px 30px;
}
.header .header_top .header_navigation .navigation .nav-item a:hover {
  background-color: rgba(84, 115, 134, 0.7333333333);
  color: #283843;
  border-bottom-color: transparent;
  transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99);
}
.header p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  line-height: 60px;
  margin-top: 245px;
}
.header p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 4px;
}

@media all and (max-width: 992px) {
  .header {
    background: url("../img/header/header-bg-mini.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 0px 491px;
  }
}
@media all and (max-width: 992px) {
  .header .header_top {
    background-color: #1e262bb3;
    padding: 14px 24px 18px 28px;
  }
}
@media all and (max-width: 992px) {
  .header .header_top .header_navigation .navigation .nav-item {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media all and (max-width: 992px) {
  .header .header_top .header_navigation .navigation .nav-item a {
    line-height: 46px;
  }
}
@media all and (max-width: 992px) {
  .header .header_top .header_navigation .navigation .nav-item a:hover {
    background-color: #283238;
    color: #ffffff;
  }
}
@media all and (max-width: 745px) {
  .header p {
    font-size: 62px;
  }
}
@media all and (max-width: 320px) {
  .header p {
    font-size: 46px;
  }
}

.who_we_are {
  text-align: center;
}
.who_we_are .wrapper p {
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.9px;
  margin-top: 53px;
  margin-bottom: 46px;
}

.what-we-do_box {
  display: flex;
  flex-flow: row wrap;
  margin-top: 81px;
}
.what-we-do_box .what-we-do_item {
  width: 25%;
  padding: 1.5px;
}
@media all and (max-width: 1200px) {
  .what-we-do_box .what-we-do_item {
    width: 50%;
  }
}
@media all and (max-width: 880px) {
  .what-we-do_box .what-we-do_item {
    width: 100%;
  }
}
.what-we-do_box .what-we-do_item img {
  width: 100%;
  height: 100%;
}
.what-we-do_box .what-we-do_item:hover {
  cursor: pointer;
}
.what-we-do_box .what-we-do_item:hover img {
  transform: scale(1.05, 1.05);
  transition: all 1s cubic-bezier(0.04, 0.74, 0.32, 1.04);
}

.our-team {
  text-align: center;
}
.our-team .wrapper p {
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.9px;
  margin: 45px 0 50px;
}
.our-team .wrapper .box_items {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 880px) {
  .our-team .wrapper .box_items {
    flex-direction: column;
  }
}
.our-team .wrapper .box_items .item {
  width: 32.8%;
  background-color: #f9f9f9;
}
.our-team .wrapper .box_items .item:hover {
  cursor: pointer;
  transform: scale(1.03, 1.03);
  transition: all 1s cubic-bezier(0.04, 0.74, 0.32, 1.04);
}
@media all and (max-width: 880px) {
  .our-team .wrapper .box_items .item {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
  }
}
.our-team .wrapper .box_items .item .item_foto img {
  height: 100%;
  width: 100%;
}
.our-team .wrapper .box_items .item .item_info {
  padding: 20px 21px 48px 16px;
  text-align: left;
}
.our-team .wrapper .box_items .item .item_info h2 {
  text-align: left;
  margin-bottom: 20px;
}
.our-team .wrapper .box_items .item .item_info p {
  font-size: 13px;
  font-weight: 300;
  line-height: 22.97px;
  letter-spacing: 0.65px;
  margin: 36px 0 0;
}

.last-post .wrapper .post_box {
  margin: 51px 0 84px;
  display: flex;
}
.last-post .wrapper .post_box > * {
  width: 50%;
}
@media all and (max-width: 880px) {
  .last-post .wrapper .post_box {
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 660px) {
  .last-post .wrapper .post_box > * {
    width: 100%;
  }
}
.last-post .wrapper .post_box .post_img img {
  width: 100%;
  height: 100%;
}
.last-post .wrapper .post_box .post_info {
  padding: 43px 38px 60px 39px;
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
}
.last-post .wrapper .post_box .post_info span {
  color: #505d68;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.65px;
}
.last-post .wrapper .post_box .post_info h5 {
  color: #505d68;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin: 20px 0 33px;
}
.last-post .wrapper .post_box .post_info p {
  color: #505d68;
  font-size: 16px;
  font-weight: 300;
  line-height: 24.7px;
  letter-spacing: 0.8px;
  margin-bottom: 58px;
}
.last-post .wrapper .last-post_button {
  text-align: center;
}

.contact_map {
  margin-top: 55px;
}

.contact-us_info {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: #f9f9f9;
}
.contact-us_info .contact-us_item {
  width: 40%;
  padding-top: 52px;
  padding-bottom: 40px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #505d68;
}
@media all and (max-width: 600px) {
  .contact-us_info .contact-us_item {
    width: 45%;
  }
}
.contact-us_info .contact-us_item h6 {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
  font-size: 13px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
}
.contact-us_info .contact-us_item p {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
  font-size: 19px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0.57px;
}
@media all and (max-width: 600px) {
  .contact-us_info .contact-us_item p {
    font-size: 13px;
  }
  .contact-us_info .contact-us_item p span {
    display: none;
  }
}
.contact-us_info .contact-us_item a {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
}

.footer {
  background-color: #eeeeee;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0 35px;
}
@media all and (max-width: 700px) {
  .footer .wrapper {
    display: block;
    padding: 54px 16px 41px 16px;
  }
}
.footer .wrapper p {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
}
@media all and (max-width: 400px) {
  .footer .wrapper p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
