h2 {
  color: #d4af37;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  text-align: center;
}

h3 {
  opacity: 0.7;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.2px;
  text-align: center;
  margin-top: 21px;
}

h4 {
  opacity: 0.7;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1.05px;
}

button {
  padding: 18px 48px;
  background-color: transparent;
  border: 1px solid #000000;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

section {
  padding: 81px 0;
}
section .wrapper {
  max-width: 770px;
  margin: 0 auto;
}

.header {
  background: url("../img/header/header-bg.png") no-repeat;
  background-size: cover;
  padding: 17px 48px 315px;
}
.header .header_top {
  display: flex;
  justify-content: space-between;
}
.header .header_top .header_navigation .navigation {
  display: flex;
  justify-content: space-between;
}
.header p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  line-height: 60px;
  margin-top: 245px;
}
.header p span {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 4px;
}

.who_we_are {
  text-align: center;
}
.who_we_are .wrapper p {
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.9px;
  margin-top: 53px;
  margin-bottom: 46px;
}

.what-we-do_box {
  display: flex;
  flex-flow: row wrap;
  margin-top: 81px;
}
.what-we-do_box .what-we-do_item {
  width: 25%;
}
.what-we-do_box .what-we-do_item img {
  width: 100%;
  height: 100%;
}

.our-team {
  text-align: center;
}
.our-team .wrapper p {
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.9px;
  margin: 45px 0 50px;
}
.our-team .wrapper .box_items {
  display: flex;
  justify-content: space-between;
}
.our-team .wrapper .box_items .item {
  width: 32.8%;
  background-color: #f9f9f9;
}
.our-team .wrapper .box_items .item .item_foto img {
  height: 100%;
  width: 100%;
}
.our-team .wrapper .box_items .item .item_info {
  padding: 20px 21px 48px 16px;
  text-align: left;
}
.our-team .wrapper .box_items .item .item_info h2 {
  text-align: left;
  margin-bottom: 20px;
}
.our-team .wrapper .box_items .item .item_info p {
  font-size: 13px;
  font-weight: 300;
  line-height: 22.97px;
  letter-spacing: 0.65px;
  margin: 36px 0 0;
}

.last-post .wrapper .post_box {
  margin: 51px 0 84px;
  display: flex;
}
.last-post .wrapper .post_box > * {
  width: 50%;
}
.last-post .wrapper .post_box .post_img img {
  width: 100%;
  height: 100%;
}
.last-post .wrapper .post_box .post_info {
  padding: 43px 38px 60px 39px;
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
}
.last-post .wrapper .post_box .post_info span {
  color: #505d68;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.65px;
}
.last-post .wrapper .post_box .post_info h5 {
  color: #505d68;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin: 20px 0 33px;
}
.last-post .wrapper .post_box .post_info p {
  color: #505d68;
  font-size: 16px;
  font-weight: 300;
  line-height: 24.7px;
  letter-spacing: 0.8px;
  margin-bottom: 58px;
}
.last-post .wrapper .last-post_button {
  text-align: center;
}

.contact_map {
  margin-top: 55px;
}

.contact-us_info {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: #f9f9f9;
}
.contact-us_info .contact-us_item {
  width: 40%;
  padding-top: 52px;
  padding-bottom: 40px;
  text-align: center;
}
.contact-us_info .contact-us_item h6 {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
  font-size: 13px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
}
.contact-us_info .contact-us_item p {
  font-family: "Open Sans", sans-serif;
  color: #505d68;
  font-size: 19px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0.57px;
}

.footer {
  background-color: #eeeeee;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0 35px;
}

/*# sourceMappingURL=style.css.map */
