html, body {
  overflow-x: hidden;
}

.button {
  padding: 18px 48px;
  background-color: transparent;
  border: 1px solid #000000;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3803921569);
  border-color: #ececec;
  transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99);
  color: #ffffff;
  text-decoration: none;
}

.header {
  background: url("../img/blog-header-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 968px) {
  .header {
    background: none;
    padding-bottom: 0;
  }
}

.wrapper_blog {
  width: 1151px;
  background-color: #f9f9f9;
  margin: 78px auto;
  padding: 64px 70px 64px 64px;
}
@media all and (max-width: 1280px) {
  .wrapper_blog {
    width: 1000px;
  }
}
@media all and (max-width: 1030px) {
  .wrapper_blog {
    width: 920px;
  }
}
@media all and (max-width: 968px) {
  .wrapper_blog {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
}
@media all and (max-width: 490px) {
  .wrapper_blog {
    padding: 0 0 30px;
  }
}
.wrapper_blog .wrapper_blog_flex {
  display: flex;
  margin-bottom: 64px;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex {
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 490px) {
  .wrapper_blog .wrapper_blog_flex {
    margin-bottom: 40px;
  }
}
.wrapper_blog .wrapper_blog_flex .article_box {
  flex: 0 0 70%;
  margin-right: 55px;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .article_box {
    margin-right: 0;
  }
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item {
  padding: 32px;
  flex-direction: column;
  background-color: #ffffff;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .article_box .article_item {
    padding: 68px;
  }
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item img {
  width: 100%;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item h5 {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.05px;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item span {
  color: #d3b000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 66px;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item p {
  color: #021725;
  font-family: "Cardo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.08px;
  margin: 33px 0 67px;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item .button_box {
  text-align: left;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item .button_box .button {
  padding: 18px 48px;
  background-color: transparent;
  border: 1px solid #000000;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item .button_box .button:hover {
  background-color: rgba(0, 0, 0, 0.3803921569);
  border-color: #ececec;
  transition: 1s all cubic-bezier(0, 1.15, 0.58, 0.99);
  color: #ffffff;
  text-decoration: none;
}
.wrapper_blog .wrapper_blog_flex .article_box .article_item:not(:last-child) {
  margin-bottom: 57px;
}
.wrapper_blog .wrapper_blog_flex .aside_box {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .aside_box {
    padding: 184px 60px 60px;
  }
}
@media all and (max-width: 490px) {
  .wrapper_blog .wrapper_blog_flex .aside_box {
    padding: 120px 40px 30px;
  }
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item h3 {
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.46px;
  text-align: left;
  border-bottom: 3px solid #d3b000;
  padding-bottom: 12px;
  margin-top: 0;
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item ul {
  margin-top: 37px;
  margin-bottom: 57px;
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item ul a {
  color: #021725;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box {
    flex-direction: row;
    flex-flow: wrap;
  }
}
@media all and (max-width: 675px) {
  .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box {
    flex-direction: column;
  }
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item {
  margin-bottom: 2px;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item {
    flex-basis: 49.8%;
    margin-right: 2px;
  }
}
@media all and (max-width: 675px) {
  .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item {
    flex-basis: 50%;
    margin-right: 0;
  }
}
.wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item img {
  width: 100%;
}
@media all and (max-width: 968px) {
  .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item:nth-child(2), .wrapper_blog .wrapper_blog_flex .aside_box .aside_item .project_box .project_item:nth-child(4) {
    margin-right: 0;
  }
}
.wrapper_blog .button_box {
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=style_blog.css.map */
